/*======================================
Custom Styles
======================================*/

img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: gray;
}

img:hover {
  -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}
#change div:hover{
  	opacity:5;
  cursor:pointer;
}


/*  ======================================
01.  Fix some Bootstrap elements (DO NOT REMOVE)
====================================== */

/*======================================
Custom Styles
======================================*/



/*  ======================================
01.  Fix some Bootstrap elements (DO NOT REMOVE)
====================================== */

img{
	
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.thumbnail > img, .thumbnail a > img{
	width:100%;
}
.thumbnail{
	border: 0 none;
    box-shadow: none;	
	padding: 0px;
}


.padding{
padding: 0px
	}
	
	
.input-medium, textarea {
    width: 80%;
}

/*  ======================================
02. STRUCTURE
====================================== */




.gal-container{
	padding: 0px;
}
.gal-item{
	overflow: hidden;
	padding: 10px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 550px;
	top: 0px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,1.00);
	color: #fff;
	text-align: left;
}
.gal-container .description p{
	margin: 13px;
	font-size: 15px;
	font-weight: 300;
	line-height: 22px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :0px;
    padding-bottom:0px;
}
footer{
    font-family: 'Quicksand', sans-serif;
}
footer a,footer a:hover{
    color: #88C425;
}

img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray;
}

img:hover {
  -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}
#change div:hover{
  	opacity:5;
  cursor:pointer;
}

.container{
	background-color:#FFFFFF
}



.logo{
	text-align:center
	
}



hr{
display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/*

header{
	
}


.banner{
}


.middle{
}

*/




/*  ======================================
03.  TYPOGRAPHY
====================================== */





h1{
	font-family: 'Oswald', sans-serif;
	
}

p{
	font-family: 'Open Sans', sans-serif;
}
h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
}

.caption{
text-align:center;	
}

.featurette-heading {
    margin-top: 120px;
	 font-size: 50px;
}

.featurette-divider {
	margin: 80px 0;
	background-color:#666;
	height: 2px;
}


a:link, a:visited{
	color:black;
	
}

a:hover,a:active{
	
	color:black;
	text-decoration:none;
}

a:newlink{
	
	color:white;
}

/*  ======================================
04. NAVIGATION
====================================== */


.navbar {
    /* margin-bottom: 0px; 
	removes 20px at the bottom of the navigation bar */
}



/* Main Navigation Container*/
.navbar {
	background-color: #FFFFFF; 
	border: 0 none;
    box-shadow: none;
	
}


/* Navigation link text color */
.navbar .nav > li > a {
    color: #000000;
}

/* Navigation link text color on hover */
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: #FFFFFF;
    color: #000000;
}




/* //////////    Collapsed mobile navigation   ///////////////*/

/* Website's Name */
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

/* Collapsed navigation open menu button border */
.navbar-default .navbar-toggle {
  border-color: #fff;
}


/* Color of the collapsed navigation open menu icon bar */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


/* Collapsed navigation open menu button on hover */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #FFFFFF;
    color: #000;
}






/*  ======================================
05.  BOOTSTRAP ELEMENTS
====================================== */


/* ///////  ACCORDIONS / COLLAPSABLE GROUP //////////*/

.panel-default > .panel-heading {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	color: #000;
}



/* ///////  TABS //////////*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus  {
    background-color: #FFFFFF;
	color:#000;
    border-color: #FFF;
}



.nav-tabs > li > a {
    background-color: #FFFFFF;
	color:#fff
}


.nav > li > a:hover, .nav > li > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #FFFFFF;
    text-decoration: none;
	color:#000
}



.tab-content{
	background-color:#fff
	
}


.tab-content {
  border: 0px solid #FFF;
  padding: 15px;
}



/* ///////  BUTTONS //////////*/
.btn-primary {
    background-color: #000;
    border-color: #FFF;
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #FFF;
    border-color: #FFF;
    color: #000;
}

/* ///////  FOOTER //////////*/


.footertext2{
	text-align:right;
}

.footer, {
	background-color:#FFFFFF;
	color:black;	
	margin-top:2%;
	
}

/*////////////////////////////////////////////////////////////////////
======================================
06. Responsive Styles (Media Queries)
======================================
////////////////////////////////////////////////////////////////////*/

    /* Large desktop */
    @media (min-width: 1200px) { 
	
	
	 }
     
	 
	 
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
		
		}
		
		
		
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
		

	 .featurette-heading {
    margin-top: 0px;
      }


	.featurette-divider{
	margin: 20px 0
	}


	 
	}
	
	
	
	
	 
    /* Landscape phones and down */
    @media (max-width: 480px) {
		
	
		}

img{
	
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.thumbnail > img, .thumbnail a > img{
	width:100%;
}
.thumbnail{
	border: 0 none;
    box-shadow: none;	
	padding: 0px;
}


.padding{
padding: 0px
	}
	
	
.input-medium, textarea {
    width: 80%;
}

/*  ======================================
02. STRUCTURE
====================================== */

.container{
	background-color:#FFFFFF;
    margin: 0 auto;
    position:relative;
}



.logo{
	padding:0px
}



hr{
display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}




/*  ======================================
03.  TYPOGRAPHY
====================================== */





h1{
	font-family: 'Oswald', sans-serif;
	
}

p{
	font-family: 'Open Sans', sans-serif;
}
h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
}

.caption{
text-align:center;	
}

.featurette-heading {
    margin-top: 120px;
	 font-size: 50px;
}

.featurette-divider {
	margin: 80px 0;
	background-color:#666;
	height: 2px;
}


a:link, a:visited{
	color:black;
	
}

a:hover,a:active{
	
	color:black;
	text-decoration:none;
}

/*  ======================================
04. NAVIGATION
====================================== */


.navbar {
    margin-bottom: 0px;
}



/* Main Navigation Container*/
.navbar {
	background-color: #FFFFFF; 
	border: 0 none;
    box-shadow: none;
	margin: 5px 0px 5px 0px;
}


/* Navigation link text color */
.navbar .nav > li > a {
    color: #000000;
}

/* Navigation link text color on hover */
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: #FFFFFF;
    color: #000000;
}




/* //////////    Collapsed mobile navigation   ///////////////*/

/* Dominique Schmidt */
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

/* Collapsed navigation open menu button border */
.navbar-default .navbar-toggle {
  border-color: #fff;
}


/* Color of the collapsed navigation open menu icon bar */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}


/* Collapsed navigation open menu button on hover */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #fff;
    color: #fff;
}






/*  ======================================
05.  BOOTSTRAP ELEMENTS
====================================== */


/* ///////  ACCORDIONS / COLLAPSABLE GROUP //////////*/

.panel-default > .panel-heading {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	color: #000;
}



/* ///////  TABS //////////*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus  {
    background-color: #FFFFFF;
	color:#000;
    border-color: #FFF;
}



.nav-tabs > li > a {
    background-color: #FFFFFF;
	color:#fff
}


.nav > li > a:hover, .nav > li > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #FFFFFF;
    text-decoration: none;
	color:#000
}



.tab-content{
	background-color:#fff
	
}


.tab-content {
  border: 0px solid #FFF;
  padding: 15px;
}



/* ///////  BUTTONS //////////*/
.btn-primary {
    background-color: #000;
    border-color: #FFF;
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #FFF;
    border-color: #FFF;
    color: #000;
}

/* ///////  FOOTER //////////*/


.footertext2{
	text-align:right;
}
.footertext3{
	text-align: center;
}

.footer {
	background-color:#FFFFFF;
	color:black;	
	margin-top:2%;
	
}

/*////////////////////////////////////////////////////////////////////
======================================
06. Responsive Styles (Media Queries)
======================================
////////////////////////////////////////////////////////////////////*/


    /* Large desktop */
    @media (min-width: 1200px) { 
	
		#container {
			background-color: white;
			width:auto;
		}
		
	
	 }
     
	 
	 
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
		
		}
		
		
		
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
		.nav {
    width:100%;
  		}
  		.nav-item {
    width:100%;
    float:none;
  		}	
		.header h1 {
			font-size: 90%;

}
		.footer {
			font-size: 50%;
		}


	 .featurette-heading {
   
      }
	
	.featurette-divider{
	margin: 20px 0;
	border:0px solid black;
	}


	
	}

	
	
	
	 
    /* Landscape phones and down */
    @media (max-width: 480px) {
		
		#navigation {
			float:none;
			width: auto;
		}
		#header h1 {
			font-size: 90%;
	
		}
		#footer {
			font-size: 50%;
			line-height: 80%
				
		}
	}